*{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    margin: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

img{
    width: 300px;
    height: auto;
    align-items: center;
    display: flex;
    
}

table{
    border-style:double;
    border: 5px;
    width: 300px;
    height: auto;
    
}

.nav{
    padding: 10px;
    margin: 10px;
    width: auto;
    display: flex;
}
nav a{
    flex: 1;
}
.button{
    font-size: 35px;
    background-color: coral;
    color: darkblue;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }